
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="row">
    @*  12 birimdir *@
    <div class="col-4"></div>
    <div class="col-4">
        <h1>Forgot Password</h1>

        <hr />
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>          
         
            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="email" class="form-control">
            </div>           
            <div class="form-group mt-3">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Back To List</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>
