@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1>Login</h1>

        <h2>Login User</h2>
        <hr />
        <form asp-action="Login" method="post">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>   
            
            <div class="form-group mt-3">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a href="/Account/ForgotPassword">ForgotPassword</a>

            </div>
        </form>

        <div>
            <a asp-action="Index">Back To List</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>


