@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}


<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1>Reset Password</h1>
        <hr />
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" name="Token" value="@Model.Token" />
            <input type="hidden" name="Email" value="@Model.Email" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Reset" class="btn btn-primary" />             
            </div>
        </form>

        <div>
            <a asp-action="Index">Back To List</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>